################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/DevTests
/Task/.vs/Task/DesignTimeBuild
/Task/bin/Debug/netstandard2.0
/Task/obj
/Tests/bin/Debug/netcoreapp2.2
/Tests/obj
